.container {
    display: flex;
    margin: auto;
    width: 50%;
    margin-top: 20px;
}

.container input {
    border-radius: 5px;
    height: 20px;
}

.container button {
    border-radius: 5px;
    height: 20px;
    background-color: blue;
    color: white;
    padding: 2px;
    font-size: 12px;
    border: 0px ;
}
